* {
  margin: 0 !important;
  padding: 0 !important;
}

.input-group {
  height : 80vh;
};

.card-body {
  width: 50% !important;
}

.input-group {
  margin-right: 1.5%;
}

.container-fluid {
  display: flex !important;
  justify-content: space-between !important;
}
.collapse {
  display: flex;
  justify-content: space-between;
}
